{% extends 'index_base.jinja2' %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    {% if hosting_table is defined %}
        {% for hostname, host_details in hosting_table.items() %}
            <div class="ui card fluid" style="background-color: #FFF1E5">
                <div class="content">
                    <div class="huge header">{{ hostname }}</div>
                    <div class="meta">
                    </div>
                    {% if 'ip_info' in host_details and host_details['ip_info'] is not none %}
                        {% for ip_info in host_details['ip_info'] %}
                            <div class="ui card fluid" style="background-color: #E5F3FF">
                                <div class="content">
                                    <br>
                                    <div class="medium header" style="font-family: monospace">
                                        <div class="ui labeled button" tabindex="0">
                                            <div class="ui grey right pointing button label">
                                                {{ hostname }} <i class="angle double right icon"></i>
                                            </div>
                                            <div class="ui red button">
                                                {{ ip_info["ip_address"] }}{% for i in range(15-(ip_info["ip_address"]|length)) %}&numsp;{% endfor %}
                                            </div>
                                            <div class="ui basic blue left pointing label">
                                                {{ ip_info["as_holder"] }}
                                            </div>
                                            {% if ip_info["cloud_provider"] is not none %}
                                                <div class="ui teal left pointing label">
                                                    {{ ip_info["cloud_provider"] }}
                                                </div>
                                            {% endif %}

                                        </div>

                                    <div class="ui accordion">
                                        <div class=" title" id="show_more_{{ ip_info["ip_address"] }}">
                                        </div>
                                        <div class=" content">
                                            <div class="ui divided selection list">

                                                <div class="item">

                                                </div>
                                                {% if ip_info["cloud_provider"] is not none %}
                                                    <div class="item">
                                                        <div class="ui teal horizontal label">Cloud Provider</div>
                                                        {{ ip_info["cloud_provider"] }}
                                                    </div>
                                                    <div class="item">
                                                        <div class="ui teal horizontal label">Cloud Provider Prefix
                                                        </div>
                                                        {{ ip_info["cloud_provider_prefix"] }}
                                                    </div>
                                                {% endif %}
                                                <div class="item">
                                                    <div class="ui blue horizontal label">ASN</div>
                                                    {{ ip_info["asn"] }}
                                                </div>
                                                <div class="item">
                                                    <div class="ui blue horizontal label">AS Prefix</div>
                                                    {{ ip_info["as_prefix"] }}
                                                </div>
                                                <div class="item">
                                                    <div class="ui blue horizontal label">AS Holder</div>
                                                    {{ ip_info["as_holder"] }}
                                                </div>
                                                <div class="item">
                                                    <div class="ui purple horizontal label">DNS Responder</div>
                                                    {{ ip_info["dns_responder"] }}
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}