{% extends 'index_base.jinja2' %}

{% block content %}

    <table class="ui celled padded table">
        <thead>
        <tr>
            <th class="single line">Hostname</th>
            <th>IP Address</th>
            <th>DNS Responder</th>
            <th>Cloud Provider</th>
            <th>Cloud Provider Range</th>
            <th>ASN</th>
            <th>AS Prefix</th>
            <th>AS Holder</th>
        </tr>
        </thead>
        <tbody>
        {% if hosting_table is defined %}
            {% for hostname, host_details in hosting_table.items() %}
                {% if 'ip_info' in host_details and host_details['ip_info'] is not none %}
                    {% for ip_info in host_details['ip_info'] %}
                        <tr>
                            <td> {{ hostname }} </td>
                            <td> {{ ip_info["ip_address"] }} </td>
                            <td> {{ ip_info["dns_responder"] }} </td>
                            <td> {{ ip_info["cloud_provider"] }} </td>
                            <td> {{ ip_info["cloud_provider_prefix"] }} </td>
                            <td> {{ ip_info["asn"] }} </td>
                            <td> {{ ip_info["as_prefix"] }} </td>
                            <td> {{ ip_info["as_holder"] }} </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
