{% extends 'index_base.jinja2' %}

{% block content %}

    <div class=" ui big fluid action input">
        <input type="text" style="color: green" placeholder="Space seperated list of hostnames"
               id="whohosts_hostnames"/>
        <button class="ui button green" id="whohosts_button">Who hosts</button>
    </div>

    <div class="ui accordion">
        <div class=" title" id="show_more_settings">
            <i class="dropdown icon"></i>
            More settings
        </div>
        <div class=" content">

            <div class="field">
                <div class="ui labeled input fluid">
                    <div class="ui label">
                        DNS Server IPs
                    </div>
                    <input type="text" placeholder="(use default)" value="{{ dns_servers }}" id="dns_servers">
                </div>
            </div>
            <br>
            <div class="ui checkbox">
                <input type="checkbox" id="dns_query_all_servers" {% if dns_query_all_servers %} checked {% endif %}>
                <label>Query all DNS servers, not just first response</label>
            </div>
            <br>
            <br>
        </div>
    </div>

    <table class="ui celled compact table">
        <thead>
        <tr>
            <th><div class="ui  label teal">Cloud Provider</div></th>
            <th><div class="ui  label teal">Cloud Provider Range</div></th>
            <th><div class="ui  label blue">AS Holder</div></th>
            <th><div class="ui  label blue">ASN</div></th>
            <th><div class="ui  label blue">AS Prefix</div></th>
            <th><div class="ui label red">IP Address</div></th>
            <th><div class="ui label purple">DNS Responder</div></th>
            <th><div class="ui  label grey">Hostname</div></th>
        </tr>
        </thead>
        <tbody>
        {% if lookup_results is defined %}
            {% for lookup_target, hostname_lookup_details in lookup_results["data"].items() %}
                <tr>
                  <td colspan="8"><div class="ui basic green label large">{{ lookup_target }}</div></td>
                </tr>
                    {% for hostname_lookup_detail in hostname_lookup_details %}
                        <tr>
                            <td style="color: teal"> {% if hostname_lookup_detail["cloud_provider"] is not none%}{{ hostname_lookup_detail["cloud_provider"] }} {% else %} {% endif %}</td>
                            <td style="color: teal"> {% if hostname_lookup_detail["cloud_provider_prefix"] is not none%}{{ hostname_lookup_detail["cloud_provider_prefix"] }} {% else %} {% endif %} </td>
                            <td style="color: blue"> {% if hostname_lookup_detail["as_holder"] is not none%} {{hostname_lookup_detail["as_holder"] }} {% else %} {% endif %}</td>
                            <td style="color: blue"> {% if hostname_lookup_detail["asn"] is not none%} {{ hostname_lookup_detail["asn"] }} {% else %} {% endif %}</td>
                            <td style="color: blue"> {% if hostname_lookup_detail["as_prefix"] is not none%} {{ hostname_lookup_detail["as_prefix"] }} {% else %} {% endif %}</td>
                            <td style="color: red"> {% if hostname_lookup_detail["ip_address"] is not none%} {{ hostname_lookup_detail["ip_address"] }} {% else %} {{ hostname_lookup_detail["no_ip"] }} {% endif %}</td>
                            <td style="color: purple"> {{ hostname_lookup_detail["dns_responder"] }} </td>
                            <td style="color: grey">
                              {% if hostname_lookup_detail["dns_indirection"] is not none  and hostname_lookup_detail["dns_indirection"]|length > 0%}
                                  <div class="ui mini steps vertical">
                                  {% for dns_redirection in hostname_lookup_detail["dns_indirection"] %}
                                      <div class="step">
                                          <div class="content">
                                              <div class="title">{{ dns_redirection[0] }}</div>
                                              <div class="description">[{{ dns_redirection[1] }}] <i class="angle double right icon"></i> {{ dns_redirection[2] }}</div>
                                          </div>
                                      </div>
                                  {% endfor %}
                                  </div>
                              {% else %}
                                  {{  hostname_lookup_detail["hostname"] }}
                              {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
            {% endfor %}
        {% else %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
